<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

  <key>Label</key>
    <string>com.osqueryd.hids</string>
  <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/growlnotify</string>
      <string>-m</string>
      <string>Something changed. Check /var/log/osqueryd.results.log</string>
      <string>--image</string>
      <string>/var/osquery/logo-big.png</string>
      <string>--sticky</string>
      <string>-t</string>
      <string>OSQuery Alert</string>
    </array>
  <key>WatchPaths</key>
    <array>
      <string>/var/log/osquery/osqueryd.results.log</string>
    </array>
</dict>
</plist>
